<div class="photo-flex-section">
  <div class="top-row">
    <div class="left-container">
      <div class="content">
        {% if section.blocks.settings.heading != null %}
          <h2>{{ section.blocks.settings.heading }}</h2>
        {% endif %}
      </div>
      <div class="image">
        {% if section.blocks.settings.image_desktop != blank and section.blocks.settings.image_mobile != blank %}
          <img
            src="section.blocks.settings.image_desktop"
            alt=""
            srcset=""
            height="100%"
            width=""
            100%>
        {% endif %}
      </div>
    </div>
    <div class="right-container"></div>
  </div>
  <div class="bottom-row"></div>
</div>


{% schema %}
  {
    "name": "Photo flex",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Photo flex section"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "row",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Desktop image",
            "info": "Recommended dimensions: 1440 x 600"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile image",
            "info": "Recommended dimensions: 600 x 400"
          },
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub Heading"
          }, {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "Shop Now"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Photo flex"
      }
    ]

  }
{% endschema %}