<div class="popup">
  {% render 'responsive-picture'
    ,
 desktopImage: section.settings.image_desktop
    ,
 mobileImage: section.settings.image_mobile
  %}
</div>

<style></style>
{% schema %}
  {
    "name": "Popup section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Business Formal Choices"
      }, {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop image",
        "info": "Recommended dimensions: 1440 x 600"
      }, {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile image",
        "info": "Recommended dimensions: 600 x 400"
      }
    ],
    "presets": [
      {
        "name": "Popup Section"
      }
    ]
  }
{% endschema %}